<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="./fontawesome-free-6.5.1-web/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/kursor/dist/kursor.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="./toastr.min.css">
  <script defer src="./jquery.min.js"></script>
  <script defer src="./toastr.min.js"></script>
  <title>Home!</title>
</head>

<body style=" background: linear-gradient(to right, #00093c,#2d0b00);">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-aos="fade-down"
    style=" background: linear-gradient(to right, #00093c,#2d0b00);">
    <a class="navbar-brand" href="#">
      <h2><i class="fa-regular fa-star-half-stroke" style="color:blue;"></i><span style="color:blue;">FRANKS</span>WEB<i
          class="fa-solid fa-star"></i></h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-start" id="navbarNav" style="justify-content: flex-end;">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link btn btn-outline-warning" href="/"><i class="fa-solid fa-star-and-crescent"></i>HOME <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#service1"><i class="fa-solid fa-star-half"></i>SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about"><i class="fa-solid fa-star"></i>ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#support"><i class="fa-regular fa-star-half-stroke"></i>SUPPORT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacts"></i><i class="fa-regular fa-star"></i>CONTACTS</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid text-light" style="padding-top: 200px;">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-7" data-aos="zoom-in">
        <em>welcome_!</em>
        <br>
        <br>
        <h1>Hi, my name is MR_FRANK</h1>
        <h2 class="pl-5">Am a Full stack Developer</h2>

        <br>
        <p>This are the programming languages,Frameworks and tools that am proficient in:
          html/css/javascript/react/node.js etc.
          I have worked on personal and professional projects that includes developing of
          frontend and backend or full stack websites.
        </p>
      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>
  <div class="container-fluid text-light">
    <h2 class="design"  data-aos="flip-up"> I design & develop <span id="services">UI/UX</span> </h2>
    <div class="row">

      <div class="col-md-3  sub">
        <div class="card cardo" data-aos="fade-up"
         data-aos-duration="3000">
          <div class="card-body"><i class="fa-solid fa-code claff"></i>
            <h3 class="card-title text-center" style="color: blue;">UI/UX Designs</h3>
            <p class="card-text">
              focuses on creating user-friendly interfaces that enhance the overall user experience.
              It involves designing visually appealing layouts, intuitive navigation, and interactive
              elements to ensure users have a seamless and enjoyable interaction with a website or
              application.
            </p>

            <a href="#">Learn more></a>
          </div>
        </div>
      </div>
      <div class="col-md-3  sub">
        <div class="card cardo"data-aos="fade-up"
         data-aos-duration="3000">
          <div class="card-body"><i class="fa-solid fa-globe claff"></i>
            <h3 class="card-title text-center" style="color: blue;">Product & Brand Designs</h3>
            <p class="card-text">
              they are crucial elements in creating a strong and memorable brand identity. Product design focuses
              on the physical appearance, functionality, and user experience of a product,
            </p>

            <a href="#">Learn more></a>
          </div>
        </div>
      </div>
      <div class="col-md-3  sub">
        <div class="card cardo" data-aos="fade-up"
         data-aos-duration="3000">
          <div class="card-body"><i class="fa-solid fa-business-time claff"></i>
            <h3 class="card-title text-center" style="color: blue;">Responsive websites</h3>
            <p class="card-text">
              they are designed to adapt and display optimally on various devices and screen sizes,
              providing a seamless user experience. They use flexible layouts, images, and CSS media queries
            </p>

            <a href="#">Learn more></a>
          </div>
        </div>
      </div>
      <div class="col-md-3  sub">
        <div class="card cardo" data-aos="fade-up"
         data-aos-duration="3000">
          <div class="card-body"><i class="fa-brands fa-app-store claff"></i>
            <h3 class="card-title text-center" style="color: blue;">App/Web Designs</h3>
            <p class="card-text">
              they play a crucial role in shaping the digital experience for users.
              Apps are specifically tailored for mobile devices, offering optimized
              functionality and performance.
            </p>

            <a href="#">Learn more></a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="container-fluid">
    <div class="row pool">
      <div class="col-md-6">
        <img src="./aport/single.jpg" alt="" class="animate-img"  data-aos="flip-up">
      </div>
      <div class="col-md-6 pt-3">
        <h2 style="color: blue;"><span style="color: crimson; font-family: papyrus;">ABOUT</span> ME</h2>
        <p class="text-light">AM MR_FRANK by name a full stack developer with a deep passion for coding and technology.
          I thrive on solving complex problems and creating innovative solutions that enhance user
          experiences.



          In terms of skills, I am proficient in a variety of programming languages, frameworks,
          and tools, including HTML, CSS, JavaScript, Mysql, React, Node.js, MongoDB, and more. My
          expertise spans both front-end and back-end development, allowing me to build robust
          and dynamic web applications.

        <p>
          <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button"
            aria-expanded="false" aria-controls="multiCollapseExample1">Click for more</a>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2"
            aria-expanded="false" aria-controls="multiCollapseExample2"><i
              class="fa-solid fa-up-right-from-square"></i></button>
        </p>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body">
                My learning journey has been marked by a continuous quest for knowledge and growth.
                I stay updated with the latest trends in web development through online courses, tech blogs,
                and networking with industry professionals. This commitment to learning fuels my desire to tackle
                challenging projects and make meaningful contributions to the tech industry.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
              <div class="card card-body">
                In conclusion, I am enthusiastic about the opportunities that lie ahead as a full stack
                developer. With a solid foundation in both front-end and back-end development, a thirst
                for knowledge, and a collaborative mindset, I am ready to take on new challenges and make
                a positive impact in the ever-evolving world of technology.
              </div>
            </div>
          </div>
        </div>





        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid plan" id="service1">
    <h2 class="py-3 text-center" style="color: rgb(21, 194, 194);"><span
        style="font-family:Georgia, Times, 'Times New Roman', serif; color: chartreuse;">My</span> Services</h2>
    <div class="row text-light">
      <div class="col-md-4 meet" data-aos="fade-up">
        <img src="./aport/dev.jpg" class="img">
        <div class="layer">
          <h3 style="color: rgb(240, 237, 62);">Mobile Games</h3>
          <p> i construct and design 3D/2D games aswell and As a developer I bring a unique blend of problem-solving
            skills, attention to detail,
            creativity, and a strong team spirit to every project I undertake. I have faced challenges
            along the way, but I have overcome them by staying resilient, seeking help when needed, and
            embracing failure as an opportunity to learn and improve.
          </p>
        </div>
      </div>
      <div class="col-md-4 meet" data-aos="fade-up">
        <img src="./aport/group.jpg" class="img">
        <div class="layer">
          <h3 style="color: rgb(110, 142, 230);">My Plans </h3>
          <p> Looking ahead, my goal is to further expand my skill set and expertise
            through continuous learning and pursuing relevant certifications and courses.
            I am excited about the prospect of collaborating with like-minded individuals in a
            team environment to create cutting-edge solutions that push the boundaries of web
            development.
          </p>
        </div>
      </div>
      <div class="col-md-4 meet cent" data-aos="fade-up">
        <img src="./aport/meet3.jpg" class="img">
        <div class="layer">
          <h3 style="color: aqua;">Backend</h3>
          <p>One of my proudest achievements is the development of a personal project where I
            integrated a seamless user interface with a powerful back-end system, showcasing
            my ability to deliver end-to-end solutions. Additionally, I have collaborated on
            various professional projects that have honed my skills in teamwork and project management.
          </p>
        </div>
      </div>
    </div>
  </div>

  <section class="vh-100" id="support">
    <div class="container h-100 pt-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-9">

          <!-- <h1 class="text-white mb-4">Apply for a job</h1> -->

          <form  action="/validate" method="post" name="contact">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body">

                <div class="row align-items-center pt-4 pb-3">
                  <div class="col-md-3 ps-5">

                    <h6 class="mb-0">Full name</h6>

                  </div>
                  <div class="col-md-9 pe-5">

                    <input type="text" id="name" class="form-control form-control-lg" name="fullname" />

                  </div>
                </div>

                <hr class="mx-n3">

                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5">

                    <h6 class="mb-0">Email address</h6>

                  </div>
                  <div class="col-md-9 pe-5">

                    <input id="email" type="email" class="form-control form-control-lg"
                      placeholder="example@example.com" name="email" />

                  </div>
                </div>

                <hr class="mx-n3">

                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5">

                    <h6 class="mb-0">Message</h6>

                  </div>
                  <div class="col-md-9 pe-5">

                    <textarea class="form-control" id="message" name="message" rows="3"
                      placeholder="What you want....."></textarea>

                  </div>
                </div>

                <hr class="mx-n3">

                <hr class="mx-n3">

                <div class="px-5 py-4">
                  <button type="submit" onclick="checkform()" class="btn btn-primary btn-lg">Send application</button>
                </div>

              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid pt-4" id="contacts" data-aos="zoom-in">
    <div class="row" style="align-items: center; justify-content: center;">
      <div class="col-md-6 contact-grid-right">
        <iframe src="#"> </iframe>
        <div class="col-md-4 pt-2">
          <h5>Phone:</h5>
          <span>09155754752<br>07043501877</span>
        </div>
        <div class="col-md-4 pt-2">
          <p>Thanks For Choosing FRANKWEB</p>
        </div>
        <div class="col-md-4 pt-2">
          <h5>Email</h5>
          <span><a href="frankstephen064@gamil.com">frankstephen064@gmail.com</a></span>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <!-----start-contact-social---->
    <ul class="list-unstyled list-inline contact-social">
      <a href="https//facebook.com"><i class="fa-brands fa-facebook"></i></a>
      <a href="https//google.com"><i class="fa-brands fa-google-plus"></i></a>
      <a href="https//linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https//twitter.com"><i class="fa-brands fa-twitter"></i></a>
      <a href="https//telegram.com"><i class="fa-brands fa-telegram"></i></a>
    </ul>
    <!-----//End-contact-social---->
  </div>

  <p class="text-center text-light  d-flex justify-content-center pt-5 animate__animated animate__pulse">Copyright ©
    2023 - 2024
    Franksweb.com - All Rights Reserved.</p>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/kursor"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script src=""></script>
  <script>
    new kursor({
      type: 1
    });
  </script>


  <script>
    function generateRandomText() {
      const allowed = ["UI/UX", "Mobile apps",  "games", "Full stack apps"];
      const randomNum = Math.floor(Math.random() * allowed.length);
      let myService = allowed[randomNum];
      document.getElementById("services").innerText = myService;
    }



    // function generateRandomTrash() {
    //   const allowed = "392387^%^%^%^&^*hhjhgy^^&^%^5656589798^%^&%&^$%";
    //   const randomNum = Math.floor(Math.random() * allowed.length + 1);
    //   let myService = allowed.slice(0, randomNum);
    //   document.getElementById("services").innerText = myService;
    //   setTimeout(() => {

    //   }, 1000);
    // }


    setInterval(() => {
      // generateRandomTrash();
      generateRandomText();
    }, 2000);

    function checkform() {

      toastr.options.closeButton = true;
      toastr.options.progressBar = true;

      if (document.contact.fullname.value == '') {
        toastr.error("Please enter your full name!");
        document.contact.fullname.focus();
        return false;
      }


      if (document.contact.email.value == '') {
        toastr.error("Please enter your e-mail address!");
        document.contact.email.focus();
        return false;
      }


      if (document.contact.message.value == '') {
        toastr.error("Please fill in your message");
        document.contact.message.focus();
        return false;
      }


      $.ajax({
        url: "/submit",
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({
          name: $("#name").val(),
          email: $("#email").val(),
          message: $("#message").val()
        }),
        success: function (result) {
          let reply = result.serverResponse;
          toastr.options.closeButton = true;
          toastr.options.progressBar = true;
          toastr.success(reply);
        },
        error: function (err) {
          // check the err for error details
          toastr.options.closeButton = true;
          toastr.options.progressBar = true;
          toastr.error(err.responseText);
        }
      });

    }

    function toaster() {
      toastr.warning("an important info");
    }


  </script>
</body>

</html>